CompileFlags:
  Add: [ -I../util, -D__GNUC_STDC_INLINE__ ]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
      - types\.h
      - bits/.*\.h
      - stdint\.h
      - unistd\.h
