*.tlog
*.lastbuildstate
*.idb
*.o
*.obj
*.lib
*.xcuserstate
*.xcscheme
*.output
*.a
build/Visual Studio 2012/Win32/
build/Visual Studio 2012/Windows.sdf
build/Visual Studio 2012/Windows.opensdf
.sconsign.dblite
asmotor.sublime-workspace
xcschememanagement.plist
WorkspaceSettings.xcsettings
Breakpoints_v2.xcbkptlist
gbfade.gb
amigaobj.68k.bin
amigaexe.68k.bin
xasm/rc8/test/*.bin
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
build/cmake/*/xasm/dcpu-16/motordcpu16
build/cmake/*/xasm/6502/motor6502
build/cmake/*/xasm/680x0/motor68k
build/cmake/*/xasm/mips/motormips
build/cmake/*/xasm/schip/motorschip
build/cmake/*/xgbfix/xgbfix
build/cmake/*/xlib/xlib
build/cmake/*/xlink/xlink
Project.cbp
workspace.xml
xasm/dcpu-16/motordcpu16
xasm/6502/motor6502
xasm/680x0/motor68k
xasm/z80/motorz80
xasm/mips/motormips
xasm/schip/motorschip
xgbfix/xgbfix
xlib/xlib
xlink/xlink
build/cmake/debug
build/cmake/release
CMakeSettings.json
.vs/
build.ninja
compile_commands.json
rules.ninja
cmake-build-debug
map.map
test/gameboy/minios/.d
PortIndex
PortIndex.quick
bin/
mmap_address.bin
.vscode/ipch/**
gcc-predef.h
build/.cmake/
build/amiga/
build/windows/
build/asmotor*-src*