*.tlog
*.lastbuildstate
*.idb
*.o
*.obj
*.lib
*.xcuserstate
*.xcscheme
*.output
*.a
build/Visual Studio 2012/Win32/
build/Visual Studio 2012/Windows.sdf
build/Visual Studio 2012/Windows.opensdf
build/scons/build_0x10c
build/scons/build_6502
build/scons/build_680x0
build/scons/build_gameboy
build/scons/build_mips
build/scons/build_util
build/scons/build_xasm
build/scons/build_xgbfix
build/scons/build_xlib
build/scons/build_xlink
.sconsign.dblite
asmotor.sublime-workspace
xcschememanagement.plist
WorkspaceSettings.xcsettings
Breakpoints_v2.xcbkptlist
gbfade.gb
amigaobj.68k.bin
amigaexe.68k.bin
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
motor0x10c
motor6502
motor68k
motorgb
motormips
motorschip
build/cmake/*/xgbfix/xgbfix
build/cmake/*/xlib/xlib
build/cmake/*/xlink/xlink
