*.tlog
*.lastbuildstate
*.idb
*.o
*.obj
*.lib
*.xcuserstate
*.xcscheme
*.output
*.a
build/Visual Studio 2012/Win32/
build/Visual Studio 2012/Windows.sdf
build/Visual Studio 2012/Windows.opensdf
build/scons/build_0x10c
build/scons/build_6502
build/scons/build_680x0
build/scons/build_gameboy
build/scons/build_mips
build/scons/build_util
build/scons/build_xasm
build/scons/build_xgbfix
build/scons/build_xlib
build/scons/build_xlink
.sconsign.dblite
asmotor.sublime-workspace
xcschememanagement.plist
WorkspaceSettings.xcsettings
Breakpoints_v2.xcbkptlist
gbfade.gb
amigaobj.68k.bin
amigaexe.68k.bin
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
build/cmake/*/xasm/0x10c/motor0x10c
build/cmake/*/xasm/6502/motor6502
build/cmake/*/xasm/680x0/motor68k
build/cmake/*/xasm/gameboy/motorgb
build/cmake/*/xasm/mips/motormips
build/cmake/*/xasm/schip/motorschip
build/cmake/*/xgbfix/xgbfix
build/cmake/*/xlib/xlib
build/cmake/*/xlink/xlink
Project.cbp
workspace.xml
xasm/0x10c/motor0x10c
xasm/6502/motor6502
xasm/680x0/motor68k
xasm/gameboy/motorgb
xasm/mips/motormips
xasm/schip/motorschip
xgbfix/xgbfix
xlib/xlib
xlink/xlink
build/cmake/debug
build/cmake/release
